---
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    {% include head.html %}
</head>
<body>
    <header>
        <div class="title">
            <h1>{{ site.title }}</h1>
            {% include change-theme-button.html %}
        </div>
        <div class="bio">
            <p>{{ site.description }}</p>
            <a href="{{ site.website }}" target="_blank">> About me</a>
        </div>
    </header>

    <main>
        <div>
            <h2>Books &#128218</h2>
            <ul>
                {% for highlight in site.highlights %}
                {% if highlight.type == "book" %}
                <li><p><a href="{{ highlight.url | relative_url }}">{{ highlight.title }}</a> - {{ highlight.author }}</p><time datetime="{{ highlight.year}}">{{ highlight.year }}</time></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        
        <div>
            <h2>Articles &#128240</h2>
            <ul>
                {% for highlight in site.highlights %}
                {% if highlight.type == "article" %}
                <li><p><a href="{{ highlight.url | relative_url }}">{{ highlight.title }}</a> - {{ highlight.author }}</p><time datetime="{{ highlight.year}}">{{ highlight.year }}</time></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </main>

    {% include footer.html %}

    {% include scripts.html %}
</body>
</html>