<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    {% include head.html %}
</head>
<body>
    <header>
        <div class="title">
            <a href="index.html">« back</a>
            {% include change-theme-button.html %}
        </div>
    </header>

    <main>
        <div>
            <small>{{ page.year }}{% if page.source %} - <a href="{{ page.source }}" target="_blank">Source</a>{% endif %}</small>
            <h1>{{ page.title }}</h1>
            <p class="author">{{ page.author }}</p>
        </div>
        <div class="content">
            {{ content }}
        </div>
    </main>

    {% include footer.html %}

    {% include scripts.html %}
</body>
</html>